PORT = 5000
MONGODB_URI = mongodb://localhost/yoursuper
SESSION_SECRET = Hellopeopleoftheworldddd
CLOUDINARY_NAME= debzbm2xr
CLOUDINARY_KEY= 484322319388365
CLOUDINARY_SECRET= __Rjv14ly31JXZeahiy9XDKbq0M
FRONTEND_URL = http://localhost:6000