.CardProductCard{
    display: flex;
    justify-content: space-around;
    height: max-content;
    width: max-content;
    text-align: center;
    margin: 2vh;
    width: 60vh;


}


.CardProductCard form{
    height: 5vh;
    

}

.CardProductCard img{
    height: 15vh;
    width: 15vh;
    
}
.CardProductCard .dataCartProduct{
    align-items:center;
    font-size: 3vh;

    width: 50vh;
    margin-top: 1vh;
   

}
.CardProductCard button{
    width: 15vh;
    width: fit-content;
    padding: 0 5px;
}
.CardProductCard button:hover{
    background-color: rgba(0, 0, 255, 0.363);
    width: fit-content;
    padding: 0 5px;
}

.CardProductCard input{
    padding: 0.3vh;
    width: 10vh;
    
}