* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    backdrop-filter: blur(40px);
    box-shadow: 0px 0.3px 1px 0.3px rgba(0, 0, 0, 0.295);
    height: 10vh;
    min-height: 70px;
    font-size: large;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.486);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: rgba(26, 24, 24, 0.822) 2.5px solid;
    z-index: 100;
}

.navbar .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navbar .nav-list, li{
    margin-left: 1vh;
    text-decoration: none;
   
}


.navbar #logo {
    height: 8vh;
    margin: 0 1vh;
    min-height: 60px;
}
.navbar .fas{
    font-size: 38px;
    color: rgba(26, 24, 24, 0.959);
    margin: 0 0.7vh;
    margin-left: -50%;
}