@import url('https://fonts.googleapis.com/css2?family=Inter:wght@186;265;395;405;735;884&display=swap');

.productCard {
    border: black 4px solid;
    height: 43vh;
    min-height: 150px;
    width: 45vh;
    min-width: 130px;
    text-align: center;
    text-decoration: none;
    color: rgba(26, 24, 24, 0.822);
    padding-bottom: -10px;
    margin: 1vh;
    background-color: white;
    transition: 0.2s;

    
}

.productCard p {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: large;
    font-size: 1.5vh;
}

.productCard img {
    height: 33vh;
    width: auto;
 
}

.productCard .soldOut{
    font-size: 5vh;
}
.productCard .name{
    margin-top: -100px;
}