.sumCart {
    font-weight: bolder;
    font-size: 3.5vh;
    border: 3px solid black;
    width: 50vh;
    height: 26vh;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 0.6vh;
    margin: 3vh;
    display: flex;
    justify-content: center;
}

.sumCart h1{
    padding: 2vh;
}
.whyNot{
    text-align:justify;
}
.sumCart .whyNot {
    padding: 10px;

}




.sumCart h2{

    text-decoration:underline ;
    padding: 0.4vh;


}