.sumCart {
    font-weight: bolder;
    font-size: 3.5vh;
    border: 3px solid black;
    width: 50vh;
    height: 29vh;
    margin-bottom: 5vh;
    padding: 2vh;


}

.sumCart .text {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.sumCart h2{
    text-decoration:underline ;
    padding: 0.4vh;
    margin-bottom: 1.5vh;
}